body{
    background-color:lightsteelblue;
    text-align:left;
}

h1{
    text-align:center;
    color:purple;
}

h2{
    text-align:center;
    color:purple;
}

h3{
    color:orchid; 
}

ul{
    color:black;
}