body{
    background-color:#EFCED3;
}

h1{
    text-align:center;
    color:#6D544D;
}

h2{
    text-align:center;
    color:#6D544D;
}

h3{
    color:#6D544D;
}

ul{
    color:#AF716D;
}

p{
    text-align:center;
    color: #52564E;

}